@import "./resets.css";
@import "./utilities.css"; 

@media (--md-n-below) {   
    body {
        background-color: var(--red-7);
    }
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto; 
    padding: 2rem;
}